<main>
    <nav>
        <h3>Create Blog Post</h3>

        <div class="mobile">
            <div id="mySidepanel" class="sidepanel">
                <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
                <a routerLink="/my-blog">My Blog</a>
                <a routerLink="/">All Blogs</a>
                <a>
                    <ng-container *ngIf="userLoggedIn; else signInLink">
                        <span>👋 Welcome {{ userLoggedIn.firstName }} </span>
                    </ng-container>

                    <ng-template #signInLink>
                        <a routerLink="sign-in"><span>Sign In</span></a>
                    </ng-template>
                </a>
                <a (click)="logout()" style="color: red;">Log Out</a>

            </div>

            <button class="openbtn" (click)="openNav()">&#9776; </button>
        </div>



        <div class="links">
            <a routerLink="/my-blog">My Blog</a>
            <a routerLink="/">All Blog</a>
        </div>
        <div class="auth-links">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                <g fill="currentColor">
                    <path d="M11 6a3 3 0 1 1-6 0a3 3 0 0 1 6 0" />
                    <path fill-rule="evenodd"
                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                </g>
            </svg>
            <a>
                <ng-container *ngIf="userLoggedIn; else signInLink">
                    <span>👋 Welcome {{ userLoggedIn.firstName }} </span>
                </ng-container>

                <ng-template #signInLink>
                    <a routerLink="sign-in"><span>Sign In</span></a>
                </ng-template>
            </a>
        </div>
        <div class="log-out" (click)="logout()">
            <a href="">Log Out </a>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="currentColor"
                    d="M5 5h6c.55 0 1-.45 1-1s-.45-1-1-1H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h6c.55 0 1-.45 1-1s-.45-1-1-1H5z" />
                <path fill="currentColor"
                    d="m20.65 11.65l-2.79-2.79a.501.501 0 0 0-.86.35V11h-7c-.55 0-1 .45-1 1s.45 1 1 1h7v1.79c0 .45.54.67.85.35l2.79-2.79c.2-.19.2-.51.01-.7" />
            </svg>

        </div>
    </nav>

    <section>
        <div class="idea-area">

            <input type="text" id="title" name="title" placeholder=" Enter Blog Title..." [(ngModel)]="title"
                class="title">

            <div class="text-editor">
                <div class="icons">
                    <!-- Bold  -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16">
                        <path fill="currentColor"
                            d="M4 2h4.5a3.501 3.501 0 0 1 2.852 5.53A3.499 3.499 0 0 1 9.5 14H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1m1 7v3h4.5a1.5 1.5 0 0 0 0-3Zm3.5-2a1.5 1.5 0 0 0 0-3H5v3Z" />
                    </svg>
                    <!-- Italic  -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16">
                        <path fill="currentColor"
                            d="M12.8 2H7a.75.75 0 0 0 0 1.5h2.01l-3.428 9H3.2a.75.75 0 0 0 0 1.5H9a.75.75 0 0 0 0-1.5H7.188l3.428-9H12.8a.75.75 0 0 0 0-1.5" />
                    </svg>
                    <!-- Underline -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" d="M7 5v5a5 5 0 0 0 10 0V5M5 19h14" />
                    </svg>
                    <!-- Images  -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h14q.825 0 1.413.588T21 5v14q0 .825-.587 1.413T19 21zm0-2h14V5H5zm0 0V5zm2-2h10q.3 0 .45-.275t-.05-.525l-2.75-3.675q-.15-.2-.4-.2t-.4.2L11.25 16L9.4 13.525q-.15-.2-.4-.2t-.4.2l-2 2.675q-.2.25-.05.525T7 17m1.5-7q.625 0 1.063-.438T10 8.5t-.437-1.062T8.5 7t-1.062.438T7 8.5t.438 1.063T8.5 10" />
                    </svg>
                </div>
                <textarea id="content" name="content" rows="10" [(ngModel)]="content" class="content"
                    (input)="autoExpand()"></textarea>
            </div>
            <button (click)="postBlog()">Post Blog </button>
        </div>
    </section>
</main>